<h1 class="sass">WOW! SASS!
    Sure about this?<br><br>
<form action="deletesignature" method="post">
    <button class="delete" type="submit" name="button">DELETE SIGNATURE</button>
</form></h1>
<img src="https://media.giphy.com/media/3oKIPubkg2P4CG58DS/giphy.gif">
