<form method="post">
    <strong>Please sign here:</strong>
    <div id="canvas-container">
        <input id="signature-inp" name="signature" type="hidden">
          <canvas width="500" height="150" id="canvas" name="signature"></canvas>
        </div>
        <button type="submitBtn">Submit petition!</button>
</form>
