<h2>PLEASE REGISTER</h2>
<form class="registration" action"registration" method="post">
    First Name: <input type="text" name="first_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    E-Mail: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <button type="submit" name="button">submit</button>
</form>
<br>
<img class="funnygifs" src="https://media.giphy.com/media/jRxGFop6Hi5k7XimwN/giphy.gif">
