<h1>Tell us a little more about yourself</h1>
<form class="tellusmore" action"tellusmore" method="post">
    Age: <input type="text" name="age"><br>
    City: <input type="text" name="city"><br>
    Homepage: <input type="text" name="homepage"><br>
    <button type="submit" name="button">submit</button>
</form>
